@tailwind base;
@tailwind components;
@tailwind utilities;

/* Premium Scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a855f7, #ec4899);
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9333ea, #db2777);
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a855f7 transparent;
}